.kc-outbound-tour-detail,
.kc-outbound-tour-tabs {
	.container {
		@include MQ(LG) {
			width: 1000px;
		}
	}
}


// ===============================================
//
// Tour Page - Hero slider
//
// ===============================================

.kc-outbound-tour-hero {
	height: 405px;


}

.kc-outbound-tour-detail {
	h2 {
		font-size: 28px;
		color: $blue;
		margin-bottom: 20px;
	}

	.text-primary {
		font-size: 14px;
		font-weight: bold;
		margin: 30px 0 20px;
	}

	p {
		font-size: 14px;
		color: 	#4D4D4D;
		font-weight: 600;
	}

	.tour-desc {
		font-size: 19px;
		font-weight: 400;

	}

	.whats-included-icons {

		li {
			display: inline-block;
			float: left;
		}
	}

	.testimonials-count {
		font-size: 28px;
	    line-height: 28px;
	    display: inline-block;
	    height: 30px;
	    font-weight: bold;
	    text-decoration: none;
	    border-bottom: 1px dashed #0091d4;

		&:hover {
			text-decoration: none;
			border-bottom-style: solid;
		}
	}

	.panel-tour-info {
		margin-top: 20px;
		position: relative;
		z-index: 10;

		@include MQ(MD) {
			margin-top: -93px;
		}
	}

	.download-tour-details {
		font-size: 14px;
		display: inline-block;
		margin-top: 15px;
	}
}


// ===============================================
//
// outbound-tour-tabs
//
// ===============================================



.kc-outbound-tour-tabs {
	padding: 20px 0 20px;

	h1,h2, h3,h4 {
		color: $blue;
	}

	.nav {
		@include MQM(SM) {
			text-align: center;

			& > li {
				display: inline-block;
				float: none;
			}
		}


	}

	.tab-pane {

		&--program, &--extra	{
			padding: 30px 0;

			@include MQ(MD) {
				width: 80%;
			}

			h3 {
				color: #000;
			}

			.tour-type-link {
				padding: 4px 6px;
				background-color: rgba(0, 145, 212, 0.1);
				border-radius: 3px;
				margin-right: 5px;
				font-size: 14px;
				margin-bottom: 5px;
				display: inline-block;
				@include transition(all 0.2s ease-in);

				&:hover {
					text-decoration: none;
					color: #fff;
					background-color: rgba(0, 145, 212, 1);
				}
			}
		}

		&--hoteltype {
			h3 {
				font-size: 20px;
			}

			.hotel-desc {
				font-size: 12px;
				color: #4D4D4D;
				font-weight: 600;
			}
		}

		&--testimonials {
			h3 {
				font-size: 20px;
				margin: 20px 0;
			}
			p {
				color: #4D4D4D;
				margin-bottom: 20px;
			}
		}

	}

	.room-type-wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $blue;

		h1,h2,h3,h4 {
			margin-top: 0;
			margin-bottom: 20px;

			@include MQM(MD) {
				margin-top: 15px;
			}
		}

		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.room-image-slider {
		img {
			width: 100%;
		}
	}

	.room-type {
		border: 1px solid #B3B3B3;
		border-radius: 20px;
		padding: 4px 12px;
		margin-left: 25px;
		font-size: 14px;

		.icon-user {
			position: relative;
			top: 2px;
			margin-right: 5px;
		}
	}

	.room-services {
		margin-bottom: 15px;
		.icon-rooms {
			color: #0091d4;
			vertical-align: middle;
			margin-right: 5px;
		}

		&--type {
			font-size: 14px;
			color: #4D4D4D;
			vertical-align: middle;
		}
	}

	.price-block {
		color: $blue;
		font-weight: 600;
		margin-bottom: 8px;

		.kc-table-price {
			color: #000;
		}

		p {
			color: #000;
		}

		span {
			display: block;
		}

		.price {
			font-size: 40px;
			line-height: 1.2;
			font-weight: 600;
		}
	}

	.duration {
		font-size: 14px;
		color: #333333;
	}

	.btn-success {
		border:none;
		width: 100%;
		border-radius: 3px;
    	padding: 8px 10px;
	}

	.table {
		@include MQ(MD) {
			max-width: 70%;
		}
	}

	.price-block {
		h3 {
			font-size: 20px;
			margin: 30px 0 20px;
		}
	}

	.add-testimonial-form {
		.btn-success {
			width: auto;
			margin-top: 18px;
			padding: 10px 20px;
		}
	}

	.media {
		margin-bottom: 20px;
	}

	.media-object {
		border-radius: 50%;
	}

	.media-heading {
		margin-bottom: 0;
	}

	.media-text {
		margin-top: 10px;
		margin-bottom: 0 !important;
	}

	.media-city, .media-date {
		font-size: 12px;
		color: #ccc;
	}

	.testimonials-wrapper {
		position: relative;

		.tripadvisor {
			position: absolute;
			right: 0;
			top: 0;
			width: 180px;
			height: 30px;
		}
	}
}

.lg-download {
	display: none;
}
