.kc-trp-hero,
.kc-trp-content,
.kc-trp-standarts,
.kc-trp-testimonials,
.kc-trp-faq,
.kc-trp-pricelist,
.kc-trp-transfer,
.kc-trp-autopark,
.kc-trp-whitebg,
.kc-trp-car--hero,
.kc-trp-car--content {
  .container {
    @include MQ(LG) {
      width: 1000px;
    }
  }
}


.kc-trp-hero {
  position: relative;
  background-image: url("../images/bg/trp-hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #FFAD1E;
  color: #fff;
  min-height:440px;
  padding-top: 70px;

  h1 {
    margin:10px 0;
    line-height: 48px;
  }

  p {
  	font-size: 26px;
  }

  .kc-trphero-logo {
  	text-align: center;
  	display: block;
  	margin-top: 35px;

  	&:hover, &:active,&:focus {
  		text-decoration: none;
  	}

  	&--icon {
  		display: inline-block;
  		height: 75px;
  		width: 75px;
  		border-radius: 50%;
  		border: 1px solid rgba(255,255,255,0.4);
  		position: relative;

  		i {
  			font-size: 46px;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    @include transform(translate(-50%, -50%));
		    color: white;
  		}
  	}

  	&--text {
  		display: block;
  		margin-top: 15px;
  		color: white;
  		font-size: 18px;
  	}
  }
}

.kc-trp-form {
	background-color: #39b54a;
	padding: 15px;
	border-radius: 4px;
	margin-top: -33px;
	position:relative;
	margin-bottom: 25px;

	.form-group>label {
		color: white;
		margin-left: 8px;
	}

	.other-route {
		color: white;
		text-decoration: none;
		border-bottom: 1px dashed;
		font-size: 14px;
		margin-left: 8px;
	}

	.checkbox > label {
		color: white;

	}

	.btn-yellow {
		width: 80%;
		padding: 8px;
	}
}

.kc-trp-autopark, .kc-trp-whitebg  {
	margin-bottom: 25px;

	h1 {
		color: $blue;
		margin-bottom: 25px;
	}

	.trp-tabs {
		margin-bottom: 25px;
	}
}

.kc-trp-standarts, .kc-trp-transfer  {
	position: relative;
	background-image: url("../images/bg/trp-standart.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #FFAD1E;
	color: #fff;
	padding-top: 55px;
	padding-bottom: 50px;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,145, 212, 0.88);
	}

	h1 {
		color: white;
		margin-bottom: 30px;
	}
}

.kc-trp-standart-wrap {
	text-align: center;
	display: block;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	height: 165px;
	margin-bottom: 15px;

	&:hover, &:active, &:focus {
		color: white;
	}

	.icon {
		width: 110px;
		height: 110px;
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 6px;
		position: relative;
		margin: 10px auto;


		&> i {
			font-size: 60px;
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
		}

		.tick {
			height: 15px;
			width: 15px;
			position: absolute;
			right: 5px;
			top: 5px;
			border-radius: 50%;
			background-color: $green;

			i {
				font-size: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				color: white;
				@include transform(translate(-50%, -50%));
			}
		}

	}

	.text {
		color: white;
		font-size: 14px;
		line-height: 16px;
	}
}

.kc-trp-testimonials, .kc-trp-pricelist {
	h1 {
		margin-top: 45px;
		color: $green;
		margin-bottom: 18px;
	}

	.table {
		margin-bottom: 50px;

		th, td {
			font-size: 16px;
		}
	}


}

.kc-trp-faq {
	background-color: #fafafa;
	padding-top: 30px;
	padding-bottom: 50px;

	.trp-tabs {
		margin-top: 15px;
		margin-bottom: 25px;
	}
}

.table > thead > tr.no-border-top > th {
	border-top: none;
	vertical-align: top;
}

.table-head-title {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.table span.silent {
	font-size: 14px;
	color: #4d4d4d;
}


.kc-trp-featblock {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	margin-bottom: 35px;
	display: block;
	min-height: 75px;

	&-wrap {
		margin-top: 40px;
		margin-bottom: 30px;
	}

	&:hover, &:focus, &:active {
		text-decoration: none;
		outline: none;
	}

	&--light {
		color: white;

		&:hover, &:focus, &:active {
			color: white;
		}


		.icon-part {
			border: 1px solid rgba(255, 255, 255, 0.4);

			i {
				color: white;
			}
		}
	}

	&--filled {
		color: #4d4d4d;

		&:hover, &:focus, &:active {
			color: #4d4d4d;
		}

		.icon-part {
			border: none;
			background-color: rgba(0, 145, 212, 0.1);

			i {
				color: #0091d4;
			}
		}

	}

	&--body {
		display: block;
		padding-top: 10px;
		padding-left: 85px;

		&-title {
			display: block;
			margin-bottom: 5px;
			font-size: 20px;
		}

		&-text {
			display: block;
			font-size: 14px;
		}
	}

	.icon-part {
		height: 75px;
		width: 75px;
		border-radius: 50%;
		position: relative;
		margin-right: 15px;

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 40px;
			@include transform(translate(-50%, -50%));
		}
	}
}

.kc-trp-whitebg  {
	padding-top: 20px;
}

.kc-trp-car {

  &--hero {
    height: 205px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include MQM(MD) {
      height: auto;
      background-image: none;
    }

    .container {
      position: relative;
    }

    .badge:first-child {
      margin-top: 30px;
    }

    &-title {
      color: #fff;
      line-height: 1;
      margin-top: 10px;
      margin-bottom: 25px;
      font-size: 40px;
      font-weight: bold;
    }

    &-driver {
      margin: 0;
      color: #fff;
      font-size: 20px;
    }

    .blurred-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #fff;
      background-position: center center;
      background-size: cover;

      @include MQM(MD) {
        display: none;
      }
    }
  }

  &--form {
    margin-bottom: 10px;
  }


  &--infor {
    position: absolute;
    top: 0;
    right: 0;
    width: 315px;
    z-index: 5;
    background-color: #0091d4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    @include MQM(MD) {
      position: static;
      width: 100%;

    }

    &-tel {
      font-size: 40px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 10px;
    }

    &-img {
      position: relative;
      width: 315px;
      height: 205px;
      overflow: hidden;

      @include MQM(MD) {
        text-align: center;
        width: 100%;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }

    .form-control {
      background-color: transparent;
      border-color: #fff;
      margin-bottom: 10px;

      @include placeholder {
        color: #fff;
      }

      &:focus {
        background-color: #fff;

        @include placeholder {
          color: #000;
        }
      }
    }

    &-content {
      padding: 20px;
      color: #fff;

      p {
        font-size: 16px;
      }

      a {
        color: #fff;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 10px;
      line-height: 19px;
    }

    &-wr {
      //position: relative;
    }
  }

  &--content {
    padding: 25px 0;

    .title {
      color: #0091d4;
      margin-bottom: 15px;
      font-size: 20px;
    }

    .form-control {
      margin-bottom: 15px;
    }

    &-features {
      margin-top: 25px;
      margin-bottom: 20px;
      @include transition(all 0.3s ease-in);
      height: auto;
      overflow: hidden;
    }

    &-toggle {
      text-decoration: none;
      display: inline-block;
      border-bottom: 1px dashed;
      margin-bottom: 25px;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }

    .fotorama {
      margin-bottom: 30px;
    }

    &-feature {
      padding-left: 45px;
      position: relative;
      margin-bottom: 20px;
      line-height: 1;
      height: 35px;
      overflow: hidden;

      i {
        position: absolute;
        font-size: 30px;
        color: #0091d4;
        left: 4px;
        top: 50%;
        @include transform(translateY(-50%));
      }

      span {
        position: absolute;
        left: 45px;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
  }
  &--testimonial-form {
    margin-bottom: 35px;
  }

  &--testimonial {
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;

    .testim-img-thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }


    .testim-title, p {
      color: #4d4d4d;
      font-size: 14px;
      line-height: 1;
    }

    p {
      line-height: 1.2;
    }

    .testim-city, .testim-date {
      color: #808080;
      font-size: 12px;
    }

    .testim-city {
      margin-bottom: 5px;
    }

    .testim-date {
      text-transform: uppercase;
    }
  }

}
