.kc-vacancies,
.kc-vacancies-hero,
.kc-vacancies-hero-inner{
  .container {
    @include MQ(LG) {
      width: 1000px;
    }
  }
}



.kc-vacancies {
  padding:15px 0 25px;

  h1 {
    color: $brand-primary;
    font-weight:bold;
    margin-bottom:45px;
  }

  &-prev {
    background: #fafafa;
    border-bottom:1px solid #e6e6e6;
  }

  &-extra {
    padding-bottom:50px;

    h1 {
      color: #ff931e;
    }
  }

  &-inner {
    padding-top:30px;

    .btn-success,
    .btn-orange{
      margin-top:25px;
      padding:10px 25px;
      margin-right:20px;
    }
  }





}

.kc-vacancies-hero {
  position: relative;
  background-image: url("../images/bg/vacancies.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #FFAD1E;
  color: #fff;
  min-height:340px;
  padding-top: 70px;

  h1 {
    margin:10px 0;
    line-height: 48px;
  }
}

.kc-vacancies-hero-inner {
  position: relative;
  background-size: initial;
  background-color: #f2f2f2;
  min-height:300px;
  padding-top: 100px;

  &.shrink {
    min-height: 100px;
    padding-top: 10px;

    .kc-vacancy--header-lg {
      display: none;
    }

    .kc-vacancy--header-sm {
      display: block;
    }
  }
  .kc-vacancy--header-sm {
    display: none;
  }
  .kc-vacancy {
    &--title {
      margin:10px 0;
      line-height: 48px;
      color: $brand-primary;
    }

    &--desc {
      width:60%;
      font-size:14px;

      @include MQM(SM) {
        width: 100%;
      }
    }

    &--category {
      font-size:14px;
      display: block;
      margin-top:10px;
    }
  }

}

.kc-vacancy-logo {
  text-align: center;
  display: block;
  text-decoration: none;
  margin-bottom:10px;
  &:active, &:focus, &:hover {
    text-decoration: none;
  }

  &.active {
    .kc-vacancy-logo--svg {
      background: #fff;

      [class^="mainico-"], [class*=" mainico-"] {
        color: #3a3a3a;
      }
    }
  }

  &--svg {
    height: 73px;
    width: 73px;
    display: inline-block;
    position: relative;
    padding:15px;
    margin-bottom:7px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;

    [class^="mainico-"], [class*=" mainico-"] {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 40px;
      color: #fff;
      @include transform(translate(-50%, -50%));
    }

    img {
      height: 100%;
      width: auto;
    }
  }


  &--text {
    color: #fff;
    font-size:18px;
    display: block;
    font-weight:bold;
  }
}

.kc-vacancy-extra-link {
  display: inline-block;
  padding:8px 17px;
  background: #ff931e;
  border-radius: 20px;
  color: #fff;
  font-size:12px;
  margin-bottom: 10px;

  &:hover, &:active, &:focus {
    background-color: #d5891f;
    text-decoration: none;
    color: #fff;
  }
}

.kc-vacancy-preview {
  min-height:130px;
  margin-bottom:20px;
  &--title {
    font-size:16px;
    font-weight:bolder;
    color: #333;
    margin-bottom:15px;
  }

  &--desc {
    font-size:14px;
    color: #000;
    font-weight:400;
    margin-bottom:3px;
  }

  &--category {
    font-size:14px;
    color: $brand-primary;

  }
}

.kc-vacancy-event {
  margin-bottom:35px;
  display: block;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }

  &--title {
    font-size:16px;
    font-weight:bolder;
    color: #333;
  }
}


.kc-vacancy-jobapply-popup {
    position: relative;
    background: #FFF;
    padding: 20px 20px 10px;
    width: 430px;
    margin: 20px auto;
    border-radius: 6px;

    @include MQM(SM) {
     width: 100%;
    }

   &--title {
     color: $brand-primary;
     font-size:22px;
     margin-bottom:20px;
     font-weight:300;
   }

   p {
     font-size:18px;
     margin-bottom: 20px;
   }

  .btn {
    display: block;
    border-radius: 3px;
    width: 80%;
    margin:10px auto;
    padding:8px 25px;
  }
 }

.kc-vacancy-jobapplied-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: 430px;
  margin: 20px auto;
  border-radius: 6px;

  @include MQM(SM) {
    width: 100%;
  }

  &--title {
    color: $brand-primary;
    font-size:22px;
    margin-bottom:20px;
    font-weight:300;
  }

  p {
    font-size:18px;
    margin-bottom: 20px;
  }

  .btn {
    display: inline-block;
    border-radius: 3px;
    padding:8px 25px;
    margin-right:20px;
  }
}

.kc-vacancy-test-start {
    position: relative;
    background: #FFF;
    padding: 20px 20px 10px;
    width: 650px;
    margin: 20px auto;
    border-radius: 6px;

    @include MQM(SM) {
     width: 100%;
    }

   

    p {
      font-size:18px;
      margin-bottom: 10px;
    }

  .btn {
    display: inline-block;
    border-radius: 3px;
    margin:10px auto;
    padding:8px 25px;
  }
}

.kc-vacancy {
  &--profile-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    @include transform(translateY(-30px));
    display: inline-block;

    img {
      width: 100%
    }
  }

  &--test-heading {
    text-align: center;
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid #0091d4;
    border-bottom: 1px solid #0091d4;

    p {
      margin-bottom: 0;
    }
  }

  &--time-left {
    font-size: 14px;
    color: #808080;
  }

  &--clock {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;

  }

  &--head-title {
    margin-top: 20px;
    margin-bottom: 9px;
  }

  &--head-results {
    display: none;
  }
}

.kc-test-form {
  .error-message {
    font-size: 14px;
    color: red;
    display: none;
    position: relative;
  }
  .test-error {
    .error-message {
      display: block;

      &:before {
        content: '';
        height: 17px;
        width: 17px;
        position: absolute;
        top: 1px;
        left: -23px;
        background-image: url(../images/icons/vacancies/error.svg);
        background-position: center center;
        background-size: 100%;
      }
    }
  }
}

.kc-test {
  &--w100 {
    width: 100px;
  }
  &--w50 {
    width: 50px;
  }

  &--option {
    margin-bottom: 15px;
  }



  &--test-1,
  &--test-2,
  &--test-3,
  &--test-4 {
    display: none;
  }

  &--test-3 {
    .kc-test--item {
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 30px;
      &:last-of-type {
        &:after {
          display: none;
        }
      }
      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        width: 60%;
        height: 1px;
        background: #0091d4;
        @include transform(translateX(-50%));
      }
    }
  }

  &--test-4 {
    .kc-test--item {
      margin-bottom: 30px;
    }
  }

  &--results {
    display: none;
    &-title {
      font-size: 28px;
      font-weight: bold;
    }

    &-label {
      color: #808080;
      font-size: 14px;
    }
  }
}