.kc-visa__content,
.kc-visa__priveledges{
  .container {
    @include MQ(LG) {
      width: 1000px;
    }
  }
}



.kc-visa {
  &__hero {
    padding: 40px 0;
  }


  &__country-name {
    font-size: 14px;
  }

  &__priveledges {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255, 165, 0, 0.37);
    background-color: #fffbf5;
  }
}
