.kc-icon {
	height: 14px;
    width: 14px;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center center;
    background-size: 100%;

}

.icon-user {
	background-image: url('../images/icons/room-type/user.svg');
}