body {
	font-family: $font;
	font-size: 16px;

	//padding for fixed contacts
	@include MQ(SM) {
		padding-bottom: 50px;
	}
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0;
	font-weight: 600;
}

h1 {
	@include MQM(XS) {
		font-size: 30px;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: $blue;
	&::hover, &::active, &::visited {
		color: darken($blue, 1%);
	}
}

.padding-xs {
	@media only screen and (max-width : 480px) {
		padding-left: 5px;
		padding-right: 5px;
    }
}

.no-paddings {
	padding-left: 0;
	padding-right: 0;
}

%arrow {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-top: 2px solid;
	border-left: 2px solid;
	border-color: $blue;
}

.cs-arrow-right {
	@extend %arrow;
	@include transform(rotate(135deg));
}

.cs-arrow-up {
	@extend %arrow;
	@include transform(rotate(45deg));
}

.cs-arrow-down {
	@extend %arrow;
	@include transform(rotate(225deg));
}
.cs-arrow-left {
	@extend %arrow;
	@include transform(rotate(-45deg));
}

.custom-input {
	label {
		color: $blue;
		line-height: 38px;

		&:hover {
			text-decoration: underline;
		}
	}
}