body {
	font-family: $font;
	font-size: 16px;
	//padding for fixed contacts
	padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -1px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: $blue;
	&::hover, &::active, &::visited {
		color: darken($blue, 1%);
	}
}

.padding-xs {
	@media only screen and (max-width : 480px) {
		padding-left: 5px;
		padding-right: 5px;
    }
}

.no-paddings {
	padding-left: 0;
	padding-right: 0;
}

