@font-face {
    font-family: 'trp';
    src:    url('../fonts/trp.eot?waz1g7');
    src:    url('../fonts/trp.eot?waz1g7#iefix') format('embedded-opentype'),
        url('../fonts/trp.ttf?waz1g7') format('truetype'),
        url('../fonts/trp.woff?waz1g7') format('woff'),
        url('../fonts/trp.svg?waz1g7#trp') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'trp' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: inline-block;
    margin: 0;
}

.trpicon-60:before {
    content: "\e900";
}
.trpicon-247:before {
    content: "\e901";
}
.trpicon-aid:before {
    content: "\e902";
}
.trpicon-air-cond:before {
    content: "\e903";
}
.trpicon-baby-seat:before {
    content: "\e904";
}
.trpicon-charger:before {
    content: "\e905";
}
.trpicon-checklist:before {
    content: "\e906";
}
.trpicon-clean-car:before {
    content: "\e907";
}
.trpicon-conditions:before {
    content: "\e908";
}
.trpicon-courier:before {
    content: "\e909";
}
.trpicon-driver:before {
    content: "\e90a";
}
.trpicon-driver-guide:before {
    content: "\e90b";
}
.trpicon-driver-plus:before {
    content: "\e90c";
}
.trpicon-equipment:before {
    content: "\e90d";
}
.trpicon-extinguisher:before {
    content: "\e90e";
}
.trpicon-extreme:before {
    content: "\e90f";
}
.trpicon-firniture:before {
    content: "\e910";
}
.trpicon-gruzcik:before {
    content: "\e911";
}
.trpicon-info:before {
    content: "\e912";
}
.trpicon-inssurance:before {
    content: "\e913";
}
.trpicon-lang-en:before {
    content: "\e914";
}
.trpicon-lang-kg:before {
    content: "\e915";
}
.trpicon-lang-ko:before {
    content: "\e916";
}
.trpicon-lang-ru:before {
    content: "\e917";
}
.trpicon-lang-tr:before {
    content: "\e918";
}
.trpicon-list:before {
    content: "\e919";
}
.trpicon-luggage:before {
    content: "\e91a";
}
.trpicon-meet:before {
    content: "\e91b";
}
.trpicon-motorbike:before {
    content: "\e91c";
}
.trpicon-music:before {
    content: "\e91d";
}
.trpicon-new-car:before {
    content: "\e91e";
}
.trpicon-no-cigarettes:before {
    content: "\e91f";
}
.trpicon-no-phone:before {
    content: "\e920";
}
.trpicon-obustroystvo:before {
    content: "\e921";
}
.trpicon-offroad:before {
    content: "\e922";
}
.trpicon-package:before {
    content: "\e923";
}
.trpicon-packaging:before {
    content: "\e924";
}
.trpicon-papers:before {
    content: "\e925";
}
.trpicon-pillow:before {
    content: "\e926";
}
.trpicon-pogruzka:before {
    content: "\e927";
}
.trpicon-polite:before {
    content: "\e928";
}
.trpicon-price:before {
    content: "\e929";
}
.trpicon-punctuality:before {
    content: "\e92a";
}
.trpicon-route:before {
    content: "\e92b";
}
.trpicon-safe-move:before {
    content: "\e92c";
}
.trpicon-sanitary:before {
    content: "\e92d";
}
.trpicon-sborka:before {
    content: "\e92e";
}
.trpicon-seat-belts:before {
    content: "\e92f";
}
.trpicon-seif:before {
    content: "\e930";
}
.trpicon-srs:before {
    content: "\e931";
}
.trpicon-tech-sertf:before {
    content: "\e932";
}
.trpicon-temp23:before {
    content: "\e933";
}
.trpicon-tick:before {
    content: "\e934";
}
.trpicon-trafficlight:before {
    content: "\e935";
}
.trpicon-transport-1:before {
    content: "\e936";
}
.trpicon-transport-2:before {
    content: "\e937";
}
.trpicon-transport-3:before {
    content: "\e938";
}
.trpicon-transport-4:before {
    content: "\e939";
}
.trpicon-transport-5:before {
    content: "\e93a";
}
.trpicon-tv:before {
    content: "\e93b";
}
.trpicon-umbrella:before {
    content: "\e93c";
}
.trpicon-video-reg:before {
    content: "\e93d";
}
.trpicon-zapaska:before {
    content: "\e93e";
}

