$font: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;


// ===============================================
//
// Main colors 
//
// ===============================================		


$font_gray: #808080;
$blue: #0091d4;
$green: #00b63a;
$green_dark: #3bb349;
$green_light: #8ed732;
$red: #e7352d;
$red_dark: #e3181f;
$teal: #1AB7AC;
$teal_dark: #00d6cc;
$teal_darker: #00d6ce;
$font_color: #333333;
$orange: #ed4520;
$line_color: #e6e6e6;
$yellow: #ffc300;
$orange_lighter: #f4911f;
$orange_light: #f15a25;
$orange_medium: #f97d1e;
$purple: #873bdc;
$teal_light: #00a985;
$grey: #8D9FAA;

// With opacity
$blue_op: rgba(0, 145, 212, 0.6);
$blue_op_2: rgba(0, 145, 212, 0.21);
$black_op: rgba(0, 0, 0, 0.6);
$black_op_2: rgba(0, 0, 0, 0.21);
$white_op: rgba(255, 255, 255, 0.8);
$white_op_2: rgba(255, 255, 255, 0.21);
$orange_light_op: rgba(241, 90, 37, 0.8);

$red_dark_op: rgba(235, 28, 34, 0.44);
$orange_light_op_2: rgba(241, 90, 37, 0.44);
$purple_op: rgba(135, 59, 220, 0.44);


// ===============================================
//
// Block colors
//
// ===============================================		


$header_bg: #8e9fa9;
$header_line: #a1aeb7;
$header_socials: #dce0e3;
$header_dark_grey: #445863;
$menu_blue: #005cd9;
$menu_orange: #ff931e;
$menu_teal: #00d6cc;
$menu_green: #00b73b;
$menu_purple: #712d91;
$menu_purple_light: #a12d91;
$menu_red: #ed1c24;
$menu_pink: #d73393;
$menu_coral: #ed362b;

