$mice-blue: #0091D4;
$mice-dark-blue: #0091D4;
$mice-white: #fff;
$mice-light-gray: #fff;


#full-clndr {
  width: 100%;
  background-color: $mice-light-gray;
  font-weight: 700;

  .clndr-controls {
    padding: 14px;
    background-color: $mice-white;
    color: $mice-blue;
    text-align: center;

    .clndr-previous-button {
      float: left;
    }

    .clndr-next-button {
      float: right;
    }

    .clndr-previous-button, .clndr-next-button {
      height: 23px;
      width: 23px;
      text-align: center;
      background-color: rgba(0, 145, 212, 0.1);
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      padding: 3px;
      font-size: 12px;
      font-weight: bold;

      &:hover
      {
        opacity: 0.5;
      }
    }
  }

  .clndr-grid {
    float: left;
    width: 65%;
    border-right: 2px solid white;

    @include MQM(SM) {
      width: 100%;
      border: none;
    }

    .days-of-the-week {
      width: 100%;
      background-color: $mice-dark-blue;

      .header-day {
        float: left;
        width: 14.2857%;
        padding: 14px;
        text-align: center;
        color: white;
      }
    }

    .days {
      width: 100%;

      .day, .empty {
        float: left;
        width: 14.2857%;
        height: 58px;
        padding: 18px 0;

        text-align: center;
        color: #4f4f4f;
        background-color: $mice-light-gray;
        border-bottom: 2px solid white;

        background-image: url('../images/triangle.svg');
        background-size: cover;
        background-position: center;

        &.event {
          background-image: url('../images/icons/calendar/full.svg');
          background-size: 100%;
          background-repeat: no-repeat;

          &.half-b {
            background-image: url('../images/icons/calendar/half-b.svg');
          }

          &.half-a {
            background-image: url('../images/icons/calendar/half-a.svg');
          }

        }

        &.adjacent-month {
          .day-number {
            opacity: 0.3;
          }
        }
      }

      .today {
        background-color: white;
        background-image: none;
      }

    }
  }

  .event-listing {
    float: left;
    width: 35%;

    @include MQM(SM) {
      display: none;
    }

    .event-listing-title {
      padding: 14px;
      background-color: $mice-blue;
      text-align: center;
      color: white;
      letter-spacing: 1px;
    }
    .event-item {
      padding: 14px 14px 14px 20px;
      color: #4f4f4f;

      &-name {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
      }

      &-type-half-b {
        background-image: url('../images/icons/calendar/half-b-sm.svg');
      }
      &-type-half-a {
        background-image: url('../images/icons/calendar/half-a-sm.svg');
      }

      &-type-full {
        background-image: url('../images/icons/calendar/full-sm.svg');
      }


      &-type-half-b,
      &-type-half-a,
      &-type-full {
        height: 20px;
        width: 32px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    .event-item-location {
      font-weight: 400;
    }
  }
}
