.news-list {
	max-height: 90%;
  overflow: hidden;

	ul {
		padding: 0;
	}

	&--item {
		max-height: 60px;
		overflow: hidden;
		margin-bottom: 10px;
		list-style: none;

		.date {
			display: block;
			color: rgba(255, 255, 255, 0.8);
			font-size: 12px;
			font-weight: 300;
		}

		a {
			color: #fff;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
		}
	}
}
