.panel-feature {
    display: block;
    height: 210px;
    position: relative;
    line-height: 1;
    -webkit-box-shadow: inset 0 -4px 4px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 -4px 4px -4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 -4px 4px -4px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    background-size: cover;
    text-decoration: none;
    color: #fff;
    text-align: left;
    border: none;
    z-index: 1;
    padding: 14px 14px 48px;
    margin-top: 20px;
    outline: none;
    @include transition(all 0.2s ease-in-out);
    
    @include MQM(SM) {
      margin-top: 0;  
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: #fff;
    }
    
    

    &.panel-feature-orange {
        background-color: #F5931E;
        background-image: url(../images/icons/panelbg/kc-res-03.svg);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: inherit;

        &:hover {
            background-color: #EF8822;
        }
    }

    &.panel-feature-green {
        background-color: #35AB87;
        background-image: url(../images/icons/panelbg/kc-res-04.svg);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: inherit;

        &:hover {
            background-color: #059B77;
        }
    }
    
    &.panel-feature-blue {
        background-color: #3E91D4;
        background-image: url(../images/icons/panelbg/kc-res-05.svg);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: inherit;

        &:hover {
            background-color: #0086B5;
        }
    }


    &--title {
        font-size: 18px;
        margin-bottom: 18px;
    }

    &--desc {
        line-height: 19px;
        font-size: 15px;
        height: 60px;
        overflow: hidden;
        margin-bottom: 10px;
        font-weight: 300;
    }

    &--price {
        font-size: 30px;
        font-weight: 600;
        
        @include MQ(MD) {
            font-size: 36px;
        }
    }

    &--more {
        position: absolute;
        bottom: 0;
        height: 48px;
        line-height: 48px;
        font-weight: 300;
        font-size: 14px;

        &:before {
            content: "";
            height: 1px;
            width: 37px;
            position: absolute;
            top: 5px;
            opacity: .6;
            background-color: #fff;
        }
        span {
            border-color: #fff;
        }
    }
}