.panel-suggestion {
  position: relative;
  height: 130px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 25px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
  overflow: hidden;
  border: none;

  &--footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    color: #fff;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
