.seasons-marker {
	margin: 0;
	padding: 0;

	ul {
		padding: 0;
	}

	li {
		display: inline-block;
    list-style: none;
    padding: 2px;
    border-radius: 50%;
    height: 11px;
    line-height: 0;
    font-size: 10px;
    margin-right: 1px;
    float: left;
    border: 1px solid transparent;

		span {
			height: 5px;
			width: 5px;
			display: inline-block;
			border-radius: 3px;
		}

		&.active {
			border: 1px solid #b3b3b3;
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(12) {
			span {
				background-color: $blue;
			}
		}

		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			span {
				background-color: #00b63a;
			}
		}

		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			span {
				background-color: #ffc300;
			}
		}

		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11) {
			span {
				background-color: #e7352d;
			}
		}
	}
}
