.suggestion-block {
	position: relative;
	height: 100%;

	&:before {
		content: "";
	    position: absolute;
	    left: 0;
	    top: -1px;
	    height: 125px;
	    width: 100%;
	    background: transparent url("../images/bg/suggest-top.svg");
	    background-position: center top;
	    background-repeat: no-repeat;
	    background-size: 100%;
	}

	&:after {
		content: "";
	    position: absolute;
	    left: 0;
	    bottom: -1px;
	    height: 125px;
	    width: 100%;
	    background: transparent url("../images/bg/suggest-bottom.svg");
	    background-position: center bottom;
	    background-repeat: no-repeat;
	    background-size: 100%;
	}

	&--content {
		position: absolute;
		top: 65%;
		left: 50%;
		@include transform(translate(-50%, -50%));

		@include MQM(MD) {
			top: 50%;
		}

		h1 {
			color: #fff;
			font-size: 40px;
		}
		p {
			color: #fff;
			font-size: 18px;
		}
	}
}